.repoas {
  flex-direction: column;
}
.fixaf {
  margin: auto;
  width: 104.5%;
}
.heijsa {
  margin-top: 7vh;
  height: fit-content;
}

@media only screen and (max-width: 600px) {
  .fixaf {
    width: 102%;
  }
}
